<header class="header-banner">
  <div class="banner-content">
    <h2 class="header-title">Cabo frio</h2>
    <p class="header-p">Pesquisa com segurança e encontre tudo que você precisa em um so lugar!</p>
    <a class="btn btn-primary header-btn" href="#">Saiba mais</a>
  </div>
</header>