<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Dashboard - SB Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <!-- <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script> -->
  <script src="https://cdn.tiny.cloud/1/xieppfgf2oxuuzzg6fb33ym2dea4intyxwi9f8j9tn8n0g40/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="https://kit.fontawesome.com/4b5a86d202.js" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
  <link href="/css/dashStyle.css" rel="stylesheet" />
  <link href="/css/dashComplement.css" rel="stylesheet" />
</head>

<body class="sb-nav-fixed">